#nav {
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: right;
	width: 450px;
    margin-right: 50;
    background: #eee;
}

.button {
	display: block;
	height: 50px;
	width: 150px;
	background: #ccc;
	border: 2px solid rgba(33, 68, 72, 0.59);

	color: #f8f8ff;
	text-align: center;
	font: bold 1.2em/45px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a.button:hover {
	background: #3d7a80;
	background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
	background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
	background: -o-linear-gradient(top, #3d7a80, #2f5f63);
	background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
	background: linear-gradient(top, #3d7a80, #2f5f63);
}